[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Youtube-dl Selection
Exec=youtube-dl-selection
Comment=Run youtube-dl on the current clipboard selection
Categories=Network;
GenericName=Youtube-dl GUI
Icon=folder-download-symbolic
Terminal=true
StartupNotify=true
