Package: youtube-dl-selection
Version: 0.0.1
Section: internet
Maintainer: Carl J Smith <BM-NBHLt5EUFVEbRCmrbVrfCyaB2c8d24U9>
Installed-Size: 20
Priority: optional
Architecture: all
Depends: youtube-dl, dialog, task-spooler, xsel
Description: Launch youtube-dl using the highlighted text as the URL given to youtube-dl.
 Launch youtube-dl using the highlighted text as the URL given to youtube-dl. This program is intended to be used as a launcher connected to a hotkey or button.
